.App {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  width: auto;
  position: relative;
  word-break: keep-all;
}

#search > div {
  width: 100% !important;
  height: calc(100vh - 140px) !important;
}